name: "Deploy VRCSTT"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
      
env:
  PROJECT_PATH: VRCSTT.csproj
  
  
jobs: 
  deploy: 
    runs-on: windows-latest
    steps: 
      - uses: actions/checkout@v2
      
      - uses: actions/setup-dotnet@v1
        with: 
          dotnet-version: 6.0.x
          
      - run: dotnet restore ${{ env.PROJECT_PATH }}
      
      - run: dotnet build ${{ env.PROJECT_PATH }} -c Release --no-restore
      
      - run: dotnet publish ${{ env.PROJECT_PATH }} -c Release --self-contained -r win-x64 -p:PublishSingleFile=true --no-build
      
      - uses: actions/create-release@v1
        id: create_release
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          tag_name: v${{ github.run_number }}
          
      - uses: vimtor/action-zip@v1
        with:
          files: bin/Release/net6.0-windows/win-x64/publish/*
          dest: bin/Release/net6.0-windows/win-x64/VRCSTT.zip
          
      - uses: csexton/release-asset-action@v2
        with: 
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pattern: bin/Release/net6.0-windows/win-x64/VRCSTT.zip
          release-url: ${{ steps.create_release.outputs.upload_url }}
